Repository stanfortonski/stanfortonski.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

.lintstagedrc.json:

{
    "**/*.{js,jsx,ts,tsx,json,md,css,html}": ["prettier --check --ignore-unknown --write"],
    "**/*.{js,jsx,ts,tsx}": ["eslint --quiet --fix"],
    "**/*.{ts,tsx}": ["tsc"],
    "**/*.css": ["stylelint --fix"]
}

Remove minimizing feature
  src/modules/landing/components/ContactSection/ContactSection.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Frame/MinimizeButton.tsx
  src/modules/ui/components/Frame/useFrameStatus.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Animate expand button
  src/modules/ui/components/Frame/ExpandButton.tsx
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Change skills list
  src/lang/messages/en/homepage.json
  src/lang/messages/pl/homepage.json
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve about me section
  src/lang/messages/en/homepage.json
  src/lang/messages/pl/homepage.json
  src/modules/landing/components/AboutSection/AboutSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve nav-toggler
  src/modules/ui/components/Nav/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Add language picker to menu
  src/lang/messages/en/global.json
  src/lang/messages/pl/global.json
  src/modules/ui/components/Nav/Nav.tsx
  src/modules/ui/components/Nav/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Refactor styles
  src/modules/ui/components/Nav/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Improve header
  src/modules/ui/components/Header/styles.css
  src/modules/ui/components/Nav/Nav.tsx
  src/modules/ui/components/Nav/styles.css
  src/modules/ui/components/NavMenu/NavMenu.tsx
  src/modules/ui/components/NavMenu/index.tsx
  src/modules/ui/components/NavMenu/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Convert to em to 16px rem
  src/modules/contact/components/ContactForm/styles.css
  src/modules/landing/components/AboutSection/AboutSection.tsx
  src/modules/landing/components/LandingLayout/styles.css
  src/modules/ui/components/Footer/styles.css
  src/modules/ui/components/Modal/styles.css
  src/modules/ui/components/ProgressBar/styles.css
  src/modules/ui/components/Slider/styles.css
  src/modules/ui/styles/components/button.css
  src/modules/ui/styles/components/form.css
  src/modules/ui/styles/components/toast.css
  src/modules/ui/styles/components/utils.css
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Change px to rem
  src/modules/landing/components/LandingLayout/styles.css
  src/modules/ui/components/Nav/styles.css
  src/modules/ui/components/NavMenu/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Fix typo errors
  src/lang/messages/en/global.json
  src/lang/messages/pl/global.json
Due: prettier --check --ignore-unknown --write

Fix progress-bar
  src/modules/ui/components/ProgressBar/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Add typo changes
  src/lang/messages/en/homepage.json
Due: prettier --check --ignore-unknown --write

Improve typography and add more texts
  src/lang/messages/en/contact.json
  src/lang/messages/en/homepage.json
  src/lang/messages/en/projects.json
  src/lang/messages/pl/contact.json
  src/lang/messages/pl/homepage.json
  src/lang/messages/pl/projects.json
  src/modules/contact/pages/ContactPage.tsx
  src/modules/landing/components/ContactSection/ContactSection.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/landing/components/StartSection/StartSection.tsx
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
  src/modules/ui/styles/components/list.css
  src/modules/ui/styles/components/typography.css
  src/pages/404.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Add is active button
  src/modules/landing/components/ContactSection/ContactSection.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/ui/components/Button/Button.tsx
  src/modules/ui/components/Footer/styles.css
  src/modules/ui/components/NavMenu/NavMenu.tsx
  src/modules/ui/styles/components/button.css
  src/modules/ui/styles/components/form.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Change language picker
  src/modules/contact/components/ContactForm/ContactForm.tsx
  src/modules/contact/components/ContactForm/styles.css
  src/modules/core/useLocation/index.ts
  src/modules/core/useLocation/useLocation.ts
  src/modules/ui/components/Footer/Footer.tsx
  src/modules/ui/components/NavMenu/NavMenu.tsx
  src/modules/ui/styles/components/form.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve style section in homepage
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/ui/components/Modal/ModalTitle.tsx
  src/modules/ui/components/Modal/styles.css
  src/modules/ui/components/ProgressBar/styles.css
  src/modules/ui/styles/components/button.css
  src/modules/ui/styles/components/form.css
  src/modules/ui/styles/components/list.css
  src/modules/ui/styles/components/skills.css
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve mobile styles
  src/modules/landing/components/LoadingProgressBar/LoadingProgressBar.tsx
  src/modules/landing/components/LoadingProgressBar/styles.css
  src/modules/ui/components/Footer/styles.css
  src/modules/ui/components/Modal/styles.css
  src/modules/ui/components/Nav/styles.css
  src/modules/ui/styles/components/button.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve projects styles
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix build errors
  src/modules/core/hooks/useLocation/index.ts
  src/modules/core/hooks/useLocation/useLocation.ts
  src/modules/core/useLocation/useLocation.ts
  src/modules/ui/components/Footer/Footer.tsx
  src/modules/ui/components/NavMenu/NavMenu.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve about section styling
  src/modules/landing/components/AboutSection/AboutSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Fix header animation
  src/modules/ui/components/Header/Header.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Fix runtime errors
  src/modules/landing/components/ContactSection/ContactSection.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Fix spacing
  src/modules/contact/components/ContactForm/styles.css
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Change repo graphql api options
  gatsby-config.js
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix

Comment unused cookies
  src/modules/core/components/PageLayout/PageLayout.tsx
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve focus outline
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Improve styles
  src/modules/ui/components/Modal/styles.css
  src/modules/ui/components/NavMenu/NavMenu.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve nav toggler mobile styles
  src/modules/ui/components/Nav/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Improve mobile slider
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/ui/components/Slider/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve loading
  src/modules/ui/components/Footer/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

improve loading
  src/modules/landing/components/LoadingProgressBar/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Fix toastify
  src/modules/ui/styles/components/toast.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Remove font-size from toast
  src/modules/ui/styles/components/toast.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Fix toast
  src/modules/ui/styles/components/toast.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Fix 404 font-size
  src/pages/404.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Add text shadow in 404 page
  src/pages/404.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve modal styles
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Improve toast
  src/modules/ui/styles/components/toast.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Improve contact form styling for mobile
  src/modules/contact/components/ContactForm/ContactForm.tsx
  src/modules/contact/components/ContactForm/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix
