Repository stanfortonski/stanfortonski.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Remove React not found error
  gatsby-node.js
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix

Change App, create AppContext
  .lintstagedrc.json
  src/lang/languages.ts
  src/lang/messages/en/contact.json
  src/lang/messages/en/global.json
  src/lang/messages/en/homepage.json
  src/lang/messages/en/index.js
  src/lang/messages/en/index.ts
  src/lang/messages/en/layout.js
  src/lang/messages/en/pages/contact.js
  src/lang/messages/en/pages/index.js
  src/lang/messages/en/pages/projects.js
  src/lang/messages/en/projects.json
  src/lang/messages/en/site.js
  src/lang/messages/index.js
  src/lang/messages/index.ts
  src/lang/messages/pl/contact.json
  src/lang/messages/pl/global.json
  src/lang/messages/pl/homepage.json
  src/lang/messages/pl/index.js
  src/lang/messages/pl/index.ts
  src/lang/messages/pl/layout.js
  src/lang/messages/pl/pages/contact.js
  src/lang/messages/pl/pages/index.js
  src/lang/messages/pl/pages/projects.js
  src/lang/messages/pl/projects.json
  src/lang/messages/pl/site.js
  src/modules/contact/components/ContactForm/ContactForm.js
  src/modules/contact/components/ContactForm/index.js
  src/modules/contact/components/ContactForm/styles.css
  src/modules/contact/pages/ContactPage.js
  src/modules/core/components/App/App.js
  src/modules/core/components/App/App.tsx
  src/modules/core/components/App/index.tsx
  src/modules/core/contexts/AppContext/AppContext.tsx
  src/modules/core/contexts/AppContext/index.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.js
  src/modules/landing/pages/LandingPage/LandingPage.js
  tsconfig.json
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve translations
  package.json
  src/lang/messages/en/index.ts
  src/lang/messages/pl/index.ts
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Remove unused React, move some js to tsx
  src/modules/contact/components/ContactForm/ContactForm.js
  src/modules/contact/pages/ContactPage.js
  src/modules/core/components/Cookies/Cookies.tsx
  src/modules/core/components/Cookies/index.tsx
  src/modules/core/components/Footer/Footer.tsx
  src/modules/core/components/Footer/index.tsx
  src/modules/core/components/Frame/CloseButton.js
  src/modules/core/components/Frame/ExpandButton.js
  src/modules/core/components/Frame/Frame.js
  src/modules/core/components/Frame/MinimizeButton.js
  src/modules/core/components/Header/Header.js
  src/modules/core/components/Modal/Modal.js
  src/modules/core/components/Modal/ModalBody.js
  src/modules/core/components/Modal/ModalFooter.js
  src/modules/core/components/Modal/ModalHeader.js
  src/modules/core/components/Modal/ModalTitle.js
  src/modules/core/components/Nav/Nav.js
  src/modules/core/components/PageLayout/PageLayout.js
  src/modules/core/components/ProgressBar/ProgressBar.js
  src/modules/core/components/Seo/Seo.js
  src/modules/core/components/Slider/Slider.js
  src/modules/core/components/Slider/SliderNavigation.js
  src/modules/core/components/Slider/SliderSlide.js
  src/modules/core/components/TypeWriter/TypeWriter.js
  src/modules/landing/components/AboutSection/AboutSection.js
  src/modules/landing/components/LandingLayout/LandingLayout.js
  src/modules/landing/components/LoadingProgressBar/LoadingProgressBar.js
  src/modules/landing/components/ProjectsSection/ProjectsSection.js
  src/modules/landing/components/Section/Section.js
  src/modules/landing/components/SkillProgressBar/SkillProgressBar.js
  src/modules/landing/components/SkillsSection/SkillsSection.js
  src/modules/landing/pages/LandingPage/LandingPage.js
  src/modules/projects/components/ProjectItem.js
  src/modules/projects/pages/ProjectsPage/ProjectPage.js
  src/pages/404.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Move contact js to tsx
  src/modules/contact/components/ContactForm/ContactForm.tsx
  src/modules/contact/components/ContactForm/index.tsx
  src/modules/contact/pages/ContactPage.tsx
  src/modules/contact/pages/index.tsx
  src/modules/core/components/PageLayout/PageLayout.tsx
  src/modules/core/components/Seo/Seo.tsx
  src/types/global.d.ts
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Move projects js to tsx
  src/modules/core/utils/helpers.ts
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/projects/components/ProjectItem/index.tsx
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
  src/modules/projects/pages/ProjectsPage/index.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Move landing js to tsx
  package.json
  src/modules/landing/components/AboutSection/AboutSection.tsx
  src/modules/landing/components/AboutSection/index.tsx
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
  src/modules/landing/components/LandingLayout/index.tsx
  src/modules/landing/components/LoadingProgressBar/LoadingProgressBar.tsx
  src/modules/landing/components/LoadingProgressBar/index.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/landing/components/ProjectsSection/index.tsx
  src/modules/landing/components/Section/Section.tsx
  src/modules/landing/components/Section/index.tsx
  src/modules/landing/components/SkillProgressBar/SkillProgressBar.tsx
  src/modules/landing/components/SkillProgressBar/index.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/landing/components/SkillsSection/index.tsx
  src/modules/landing/pages/LandingPage/LandingPage.tsx
  src/modules/landing/pages/LandingPage/index.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Move entry js to tsx
  src/pages/404.tsx
  src/pages/contact.en.js
  src/pages/contact.en.tsx
  src/pages/contact.pl.js
  src/pages/contact.pl.tsx
  src/pages/index.en.js
  src/pages/index.en.tsx
  src/pages/index.js
  src/pages/index.pl.js
  src/pages/index.pl.tsx
  src/pages/index.tsx
  src/pages/projects.en.tsx
  src/pages/projects.pl.js
  src/pages/projects.pl.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve tsconfig and 404 file
  src/pages/404.tsx
  tsconfig.json
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Move header and nav to tsc
  src/modules/core/components/PageLayout/PageLayout.tsx
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
  src/modules/ui/components/Header/Header.tsx
  src/modules/ui/components/Header/index.tsx
  src/modules/ui/components/Nav/Nav.tsx
  src/modules/ui/components/Nav/index.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Migrate ui jsx to tsx
  package.json
  src/modules/ui/components/Frame/CloseButton.js
  src/modules/ui/components/Frame/CloseButton.tsx
  src/modules/ui/components/Frame/ExpandButton.js
  src/modules/ui/components/Frame/ExpandButton.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Frame/MinimizeButton.js
  src/modules/ui/components/Frame/MinimizeButton.tsx
  src/modules/ui/components/Frame/index.tsx
  src/modules/ui/components/Modal/Modal.js
  src/modules/ui/components/Modal/Modal.tsx
  src/modules/ui/components/Modal/ModalBody.js
  src/modules/ui/components/Modal/ModalBody.tsx
  src/modules/ui/components/Modal/ModalFooter.js
  src/modules/ui/components/Modal/ModalFooter.tsx
  src/modules/ui/components/Modal/ModalHeader.js
  src/modules/ui/components/Modal/ModalHeader.tsx
  src/modules/ui/components/Modal/ModalTitle.js
  src/modules/ui/components/Modal/ModalTitle.tsx
  src/modules/ui/components/Modal/index.tsx
  src/modules/ui/components/ProgressBar/ProgressBar.js
  src/modules/ui/components/ProgressBar/ProgressBar.tsx
  src/modules/ui/components/ProgressBar/index.tsx
  src/modules/ui/components/Slider/Slider.js
  src/modules/ui/components/Slider/Slider.tsx
  src/modules/ui/components/Slider/SliderContent.tsx
  src/modules/ui/components/Slider/SliderNavigation.tsx
  src/modules/ui/components/Slider/SliderSlide.js
  src/modules/ui/components/Slider/SliderSlide.tsx
  src/modules/ui/components/Slider/index.tsx
  yarn.lock
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Remove prop-types
  package.json
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Update yarn.lock
  yarn.lock
Due: none

Refactor sections and add Button component
  src/modules/landing/components/AboutSection/AboutSection.tsx
  src/modules/landing/components/ContactSection/ContactSection.tsx
  src/modules/landing/components/ContactSection/index.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/landing/components/StartSection/StartSection.tsx
  src/modules/landing/components/StartSection/index.tsx
  src/modules/landing/pages/LandingPage/LandingPage.tsx
  src/modules/ui/components/Button/Button.tsx
  src/modules/ui/components/Button/index.tsx
  src/modules/ui/components/Button/styles.css
  src/modules/ui/styles/components/anchor.css
  src/modules/ui/styles/components/button.css
  src/modules/ui/styles/components/toast.css
  src/modules/ui/styles/global.css
  src/pages/index.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix buttons
  src/modules/contact/components/ContactForm/ContactForm.tsx
  src/modules/core/components/ButtonLink/ButtonLink.tsx
  src/modules/core/components/ButtonLink/index.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
  src/modules/ui/components/Button/Button.tsx
  src/modules/ui/components/Nav/Nav.tsx
  src/pages/404.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Rename modals classes
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/ui/components/Frame/CloseButton.tsx
  src/modules/ui/components/Frame/ExpandButton.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Frame/MinimizeButton.tsx
  src/modules/ui/components/Modal/ModalBody.tsx
  src/modules/ui/components/Modal/ModalFooter.tsx
  src/modules/ui/components/Modal/ModalHeader.tsx
  src/modules/ui/components/Modal/ModalTitle.tsx
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Update start section
  src/modules/landing/components/StartSection/StartSection.tsx
  src/modules/ui/styles/components/typography.css
  src/modules/ui/styles/components/utils.css
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Update buttons
  src/modules/ui/components/Button/Button.tsx
  src/modules/ui/components/Button/styles.css
  src/modules/ui/styles/components/button.css
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix styling
  src/modules/ui/styles/components/anchor.css
  src/modules/ui/styles/components/button.css
  src/modules/ui/styles/components/form.css
  src/modules/ui/styles/components/typography.css
  src/modules/ui/styles/components/utils.css
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Improve layouts
  src/modules/contact/pages/ContactPage.tsx
  src/modules/core/components/PageLayout/PageLayout.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/landing/components/Section/Section.tsx
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Fix Frame
  src/modules/ui/components/Frame/Frame.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve skills section and start
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/landing/components/StartSection/StartSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Reorganize skills layout
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Fix trimming classes
  package.json
  src/modules/core/components/ButtonLink/ButtonLink.tsx
  src/modules/landing/components/Section/Section.tsx
  src/modules/ui/components/Button/Button.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Modal/Modal.tsx
  src/modules/ui/components/Modal/ModalBody.tsx
  src/modules/ui/components/Modal/ModalFooter.tsx
  src/modules/ui/components/Modal/ModalHeader.tsx
  src/modules/ui/components/Modal/ModalTitle.tsx
  src/modules/ui/components/Modal/styles.css
  src/modules/ui/components/ProgressBar/ProgressBar.tsx
  src/modules/ui/components/Slider/Slider.tsx
  src/modules/ui/components/Slider/SliderContent.tsx
  src/modules/ui/components/Slider/SliderNavigation.tsx
  yarn.lock
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix slider classes
  src/modules/ui/components/Slider/SliderNavigation.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve slider classes
  src/modules/ui/components/Slider/SliderContent.tsx
  src/modules/ui/components/Slider/SliderNavigation.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Refactor Frame add useFrameStatus
  src/modules/ui/components/Frame/CloseButton.tsx
  src/modules/ui/components/Frame/ExpandButton.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Frame/MinimizeButton.tsx
  src/modules/ui/components/Frame/useFrameStatus.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Refactor frame
  package.json
  src/modules/ui/components/Frame/Frame.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Change bluring
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Fix layout
  package.json
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Modal/styles.css
  yarn.lock
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix layout
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
  src/modules/landing/components/LandingLayout/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix monitor classnames
  src/modules/landing/components/LandingLayout/LandingLayout.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Change structure of SkillsSection
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Update skills section
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
  src/modules/ui/styles/components/list.css
  src/modules/ui/styles/global.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Improve skills section texts
  src/lang/messages/en/global.json
  src/lang/messages/en/homepage.json
  src/lang/messages/pl/global.json
  src/lang/messages/pl/homepage.json
  src/modules/landing/components/ContactSection/ContactSection.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/landing/components/SkillsSection/SkillsSection.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve website translations
  src/lang/messages/en/global.json
  src/lang/messages/en/projects.json
  src/lang/messages/pl/contact.json
  src/lang/messages/pl/global.json
  src/lang/messages/pl/projects.json
  src/modules/contact/components/ContactForm/ContactForm.tsx
  src/modules/core/components/Cookies/Cookies.tsx
  src/modules/landing/components/LoadingProgressBar/LoadingProgressBar.tsx
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
  src/modules/ui/components/Nav/Nav.tsx
  src/pages/404.tsx
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc

Improve website translations
  src/lang/messages/pl/homepage.json
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, stylelint --fix

Fix errors in layout and in projects
  gatsby-config.js
  src/lang/messages/en/projects.json
  src/lang/messages/pl/projects.json
  src/modules/landing/components/Section/styles.css
  src/modules/projects/components/ProjectItem/ProjectItem.tsx
  src/modules/projects/pages/ProjectsPage/ProjectPage.tsx
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Fix modal sizing
  src/modules/landing/components/ProjectsSection/ProjectsSection.tsx
  src/modules/ui/components/Frame/Frame.tsx
  src/modules/ui/components/Modal/styles.css
Due: prettier --check --ignore-unknown --write, eslint --quiet --fix, tsc, stylelint --fix

Path conditions:
  prettier --check --ignore-unknown --write: any of: **/*.{js,jsx,ts,tsx,json,md,css,html}
  eslint --quiet --fix: any of: **/*.{js,jsx,ts,tsx}
  tsc: any of: **/*.{ts,tsx}
  stylelint --fix: any of: **/*.css
